/testdata/out
perf.data*
/cover.prof
showcase/gen
showcase/gapic-showcase
showcase/showcase_grpc_service_config.json
showcase/compliance_suite.json
gofmt.txt
golint.txt
govet.txt
showcase/showcase_v1beta1.yaml

# Jetbrains
.idea/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
*~

# Bazel directories
bazel-*

# VS Code workspace
*.code-workspace
.vscode/
