/testdata/out
perf.data*
/cover.prof
showcase/gen
showcase/gapic-showcase

# Jetbrains
.idea/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
*~

# Bazel directories
bazel-*
