---
name: release
on:
  push:
    tags:
      - '*'
  pull_request:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1'
      - name: Parse tag name
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Previous version
        run: git describe --tags v0.3.0
      - name: Create GitHub release
        run: | 
          echo "Creating release $RELEASE_VERSION at ${{ github.sha }}"
          echo go run ./util/cmd/release -version=$RELEASE_VERSION -commitish=${{ github.sha }} -token=${{ github.token }}
          go run ./util/cmd/release -version=$RELEASE_VERSION -commitish=${{ github.sha }} -token=${{ github.token }}
